.generator{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding-block: 100px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.generator__content{
    display: flex;
    gap:20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inner__box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.generator__title{
    font-size: clamp(20px, 5vw + 1rem, 60px);
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.glassmorf__box{
    margin-block-start: -100px;
    width: 500px;
    height: 200px;
}

.control__box{
    padding: 20px;
    background-color: hsl(221, 51%, 16%, .5);
    border-radius: 10px;
}