.generator{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding-block: 100px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.generator__content{
    display: flex;
    gap:20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.control__group{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.inner__box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.generator__title{
    font-size: clamp(20px, 5vw + 1rem, 60px);
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content__box{
    min-height: 400px;
    min-width: 500px;
}


.control__box{
    padding: 20px;
    background-color: hsl(221, 51%, 16%, .5);
    border-radius: 10px;
}

.bg__control{
    padding: 20px;
    background-color: hsl(37, 98%, 53%, .4);
    border-radius: 10px;
}

.content__box{
    padding: 50px;
    border-radius: 10px;
}

.gradient{
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.50, 83%, 70%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
}

.image{
    background-image: url("/background/bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.solid{
    background-color: #e9c46a;
}

.select{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.legend{
    background-color: #23a6d5;
    font-size: 20px;
    margin-block-end: 10px;
    padding: 10px;
    border-radius: 10px;
}


.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.SelectTrigger:hover {
  background-color: var(--mauve-3);
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
  color: var(--violet-9);
}

.SelectIcon {
  color: Var(--violet-11);
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: var(--violet-11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--violet-9);
  color: var(--violet-1);
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet-11);
  cursor: default;
}

.code__box{
  padding: 25px;
  border-radius: 10px;
  background-color: hsl(337, 100%, 89%, .5);
}

.code{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.code span{
  font-size: 25px;
}

.code span:nth-child(1){
  color: #fca311;
}
.code span:nth-child(2){
  color: #14213d;
}
.code span:nth-child(3){
  color: #e63946;
}